<%- include('../partials/header') %>

    <!-- Search Form -->
    <form action="/movies/search" method="get">
        <label for="query">Search for Movies</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">SEARCH</button>
    </form>

    <!-- Display Movie Posters + Titles -->
    <div class="container center">
        <% if (error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <div class="container row text-left">
            <% movies.forEach(function(m) {%>
                <div class="card mt-2 me-2 movieCard">
                    <img src="<%= m.posterUrl %>" alt="movie poster" class="card-img-top mt-2">
                    <div class="card-body">
                        <h5 class="card-title"><%= m.title %></h5>
                        <a href="/movies/<%= m.id %>" class="card-link">Movie Details</a>
                        <a href="#" class="card-link">Add to Watchlist</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<%- include('../partials/footer') %>