<%- include('../partials/header') %>

    <section class="movie-details">
        <div class="movie-poster">
            <img src="<%= movie.posterUrl %>" alt="<%= movie.title %> Poster">
        </div>

        <div class="movie-info">
            <h1><%= movie.title %> (<%= movie.releaseYear %>)</h1>
            <h2>Genres:</h2>
            <p><%= movie.genres %></p>
            <h2>Overview:</h2>
            <p><%= movie.overview %></p>

            <!-- Dropdown for watchlist selection -->
            <form action="/movies/add-to-watchlist/<%= movie.id %>" method="post">
                <label for="watchlist">Add to Watchlist:</label>
                <select name="watchlistId" id="watchlist">
                    <% watchlists.forEach(function(watchlist) { %>
                        <option value="<%= watchlist._id %>"><%= watchlist.title %></option>
                    <% }) %>
                </select>
                <input hidden name="title" value="<%= movie.title %>"></input>
                <button type="submit">Add to Watchlist</button>
            </form>
        </div>
    </section>

<%- include('../partials/footer') %>