<%- include('../partials/header') %>

    <% if (watchlist) { %>
        <h1><%= watchlist.title %></h1>

        <% if (watchlist.movies && watchlist.movies.length > 0) { %>
            <ul class="wList">
                <% watchlist.movies.forEach(movie => { %>
                    <li>
                        <a href="/movies/<%= movie.movieId %>" class="wList"><%= movie.title %></a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Gotta add some movies my friend!</p>
        <% } %>

        <% if (signedIn && username && userId && watchlist.owner.equals(userId)) { %>
            <!-- Update Form -->
            <form method="POST" action="/watchlists/update/<%= watchlist._id %>">
                <div class="mb-3">
                    <input type="text" class="form-control wUpdate" id="newTitle" name="title" placeholder="New Watchlist Name" required>
                </div>
                <button type="submit" class="btn btn-primary wUpdateB">Update Name</button>
            </form>
            
            <!-- Delete Button -->
            <form method="POST" action="/watchlists/delete/<%= watchlist._id %>">
                <button type="submit" class="btn btn-danger wDelete">Delete Watchlist</button>
            </form>
        <% } %>

    <% } else { %>
        <p>Watchlist not found, so sorry.</p>
    <% } %>

<%- include('../partials/footer') %>