<%- include('../partials/header') %>

<style>
    /* Custom styles for mobile responsiveness */
    @media (max-width: 768px) {
        .mList {
            font-size: 1rem; /* Adjust font size for smaller screens */
        }
        .btn-group, .btn {
            font-size: 1rem; /* Adjust button font sizes for better readability */
            padding: 0.25rem 0.5rem; /* Adjust padding for smaller buttons */
        }
        .LHeader {
            font-size: 1.5rem; /* Adjust heading font size for mobile */
        }
        .addMovies, .form-control, button {
            font-size: 1rem; /* Adjust font size for form elements and messages */
        }
        .space {
            padding: 0 1rem;
        }
        .deleteBtn {
            padding-top: 1rem;
        }
    }
</style>

<% if (watchlist) { %>
    <h2 class="LHeader text-center"><%= watchlist.title %></h2>

    <% if (watchlist.movies && watchlist.movies.length > 0) { %>
        <div class="container space">
            <% watchlist.movies.forEach(movie => { %>
                <div class="btn-group" role="group" aria-label="Basic checkbox button group">
                    <div class="btn-group" role="group">
                        <select class="btn mList" name="status_<%= movie._id %>" onchange="updateMovieStatus('<%= watchlist._id %>', '<%= movie._id %>', this.value)">
                            <option value="option1" <%= movie.status === 'option1' ? 'selected' : '' %>>⚪</option>
                            <option value="option2" <%= movie.status === 'option2' ? 'selected' : '' %>>🟠</option>
                            <option value="option3" <%= movie.status === 'option3' ? 'selected' : '' %>>🟣</option>
                            <option value="option4" <%= movie.status === 'option4' ? 'selected' : '' %>>👀</option>
                            <option value="option5" <%= movie.status === 'option5' ? 'selected' : '' %>>❤️</option>
                            <option value="option6" <%= movie.status === 'option6' ? 'selected' : '' %>>👍</option>
                            <option value="option7" <%= movie.status === 'option7' ? 'selected' : '' %>>👎</option>
                        </select>
                    </div>
                    <!-- <input type="checkbox" class="btn-check" id="btncheck<%= movie._id %>" autocomplete="off">
                    <label class="btn btn-outline-primary d-flex align-items-center mList" for="btncheck<%= movie._id %>">❌</label> -->
                    <form action="/watchlists/<%= watchlist._id %>/remove-movie/<%= movie._id %>" method="post">
                        <button type="submit" class="btn mList xremove"><strong>X</strong></button>
                    </form>                    
                    <a href="/movies/<%= movie.movieId %>" class="btn mList">
                        <%= movie.title %>
                    </a>
                </div>
                <br><br>
            <% }) %>
        </div>
    <% } else { %>
        <p class="addMovies text-center">Start adding movies.</p>
    <% } %>

    <% if (signedIn && username && userId && watchlist.owner.equals(userId)) { %>
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center mb-5 mt-3 space">
            <form method="POST" action="/watchlists/update/<%= watchlist._id %>" class="d-flex mb-2 mb-sm-0">
                <input type="text" class="form-control me-2" name="name" placeholder="Watchlist Name" required>
                <button type="submit" class="btn btn-outline-warning">Update</button>
            </form>
            <form method="POST" action="/watchlists/delete/<%= watchlist._id %>" class="deleteBtn">
                <button type="submit" class="btn btn-outline-danger ms-sm-2">Delete Watchlist</button>
            </form>
        </div>
    <% } %>
<% } else { %>
    <p class="text-center">Watchlist not found, so sorry.</p>
<% } %>

<script>
    function updateMovieStatus(watchlistId, movieId, status) {
        // Example AJAX call using Fetch API
        fetch(`/watchlists/${watchlistId}/update-movie-status`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Additional headers like authentication tokens if needed
            },
            body: JSON.stringify({ movieId, status })
        })
        .then(response => {
            if (response.ok) {
                console.log('Status updated successfully');
            } else {
                console.error('Failed to update status');
            }
        })
        .catch(error => console.error('Error updating movie status:', error));
    }
</script>


<%- include('../partials/footer') %>
