<%- include('../partials/header') %>

    <% if (watchlist) { %>
        <h1><%= watchlist.title %></h1>

        <!-- List movies in the watchlist -->
        <% if (watchlist.movies && watchlist.movies.length > 0) { %>
            <ul class="wList">
                <% watchlist.movies.forEach(movie => { %>
                    <li>
                        <a href="/movies/<%= movie.movieId %>" class="wList"><%= movie.title %></a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p class="addMovies mb-4">Start adding movies.</p>
        <% } %>

        <% if (signedIn && username && userId && watchlist.owner.equals(userId)) { %>
            <!-- Update Form -->
            <form method="POST" action="/watchlists/update/<%= watchlist._id %>" class="mx-5">
                <div class="d-flex align-items-center g-2">
                    <div class="flex-grow-1 me-2">
                        <input type="text" class="form-control" id="name" name="name" placeholder="New Watchlist Name" required>
                    </div>
                    <button type="submit" class="btn btn-color">Update Name</button>
                </div>
            </form>
            
            <!-- Delete Button -->
            <form method="POST" action="/watchlists/delete/<%= watchlist._id %>">
                <button type="submit" class="btn btn-danger wDelete">Delete Watchlist</button>
            </form>
        <% } %>

    <% } else { %>
        <p>Watchlist not found, so sorry.</p>
    <% } %>

<%- include('../partials/footer') %>