<%- include('../partials/header') %>

    <% if (watchlist) { %>
        <h2 class="LHeader"><%= watchlist.title %></h2>

        <!-- List movies in the watchlist -->
        <% if (watchlist.movies && watchlist.movies.length > 0) { %>
            <div class="container space">
                <% watchlist.movies.forEach(movie => { %>
                        <div class="btn-group" role="group" aria-label="Basic checkbox button group">
                            <div class="btn-group" role="group">
                                <select type="select" class="btn mList" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option>⚬</option>
                                    <option>👀</option>
                                    <option>❤️</option>
                                    <option>👍</option>
                                    <option>👎</option>
                                </select>
                            </div>
                            <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                            <label class="btn btn-outline-primary d-flex align-items-center mList" for="btncheck6">❌</label>
                            <a href="/movies/<%= movie.movieId %>" class="btn btn-outline-primary mList">
                                <%= movie.title %>
                            </a>
                        </div>
                        <br><br>
                <% }) %>
            </div>
        <% } else { %>
            <p class="addMovies mb-4">Start adding movies.</p>
        <% } %>

        <% if (signedIn && username && userId && watchlist.owner.equals(userId)) { %>
            <div class="d-flex justify-content-center align-items-center mb-5 mt-3 space">
                <!-- Update Form -->
                <form method="POST" action="/watchlists/update/<%= watchlist._id %>" class="d-flex">
                    <input type="text" class="form-control" name="name" placeholder="Watchlist Name" required>
                    <button type="submit" class="btn btn-outline-warning me-3 ms-1">Update</button>
                </form>

                <!-- Delete Button -->
                <form method="POST" action="/watchlists/delete/<%= watchlist._id %>">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </div>
        <% } %>

    <% } else { %>
        <p>Watchlist not found, so sorry.</p>
    <% } %>

<%- include('../partials/footer') %>